:host {
  position: absolute;
  top: var(--article-toast-top, 1rem);
  left: 50%;
  z-index: 9;
  pointer-events: none;
}

.toast-message {
  transform: translate(-50%, 0);
  padding: 0.65rem 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 100vh;
  background: var(--darkgray);
  color: var(--foreground);
  font-size: 0.9rem;
  white-space: nowrap;

  transition:
    display 0.3s var(--ease-sine-out) allow-discrete,
    opacity 0.3s var(--ease-sine-out),
    transform 0.3s var(--ease-sine-out);
  transition-behavior: allow-discrete;

  @starting-style {
    opacity: 0;
    transform: translate(-50%, -1rem) scale(0.5);
  }
}

.toast-message[hidden] {
  opacity: 0;
  transform: translate(-50%, -1rem) scale(0.5);
}