:host {
  display: grid;
  grid-template-rows: var(--toolbar-height) 1fr;
  min-width: 0;
  background: var(--background);
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1rem;
  container-type: inline-size;

  .searchbar {
    max-width: 20rem;
    flex: 1;
    height: 1.5rem;
    background-color: var(--darkgray);
    border-radius: 100vh;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @container (width > 32rem) {
      flex: 0.25;
    }
  }

  & button {
    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: var(--foreground);
  }

  .view-toggle {
    display: none;

    .path-2 {
      width: var(--view-icon-width);
      transition: width 160ms ease-out;
    }

    &:is(:hover, :focus-visible) {
      animation: var(--animation-shake-x);

      .path-2 {
        width: var(--view-icon-hover-width);
      }
    }
  }

  .reload.is-reloading svg {
    animation: reload-rotate 0.4s ease-out;

    &:is(:hover, :focus-visible) {
      animation: shake-custom-z 1s var(--ease-in-out-3);
    }
  }

  .reload {
    &:is(:hover, :focus-visible) {
      animation: shake-custom-z 1s var(--ease-in-out-3);
    }
  }

  .reload.is-reloading:is(:hover, :focus-visible) {
    svg {
      animation: reload-rotate 0.4s ease-out;
    }
  }
}

.lights {
  flex: 0.25;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  &:has(traffic-light:hover) {
    traffic-light {
      --opacity: var(--show-opacity);
    }

    traffic-light[disabled] {
      --theme: var(--default-theme);
      --opacity: 0;
    }
  }
}

@keyframes reload-rotate {
  to {
    rotate: 360deg;
  }
}

.iframe-container {
  position: relative;
  background-color: #f00;
}

iframe {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  background: var(--background);
}