:host {
  --toolbar-height: 2.5rem;
  --editor-height: 20rem;
  --border-radius: 3px;
  --block-height: calc(var(--editor-height) + var(--toolbar-height));
  /* --border-color: color-mix(in srgb, var(--background), var(--foreground) 10%); */

  color: var(--foreground);
  position: relative;
  overflow: hidden;

  width: 100%;
  height: var(--block-height);
  border: 1px solid var(--border-color, var(--foreground));
  background: var(--background);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  border-radius: var(--border-radius);
}

:host([ui-view="full"]) {
  grid-template-columns: 0 1fr;
}

:host([ui-view="closed"]) {
  grid-template-columns: 1fr 0;

  .editor-panel {
    border-right: 0;
  }
}

@media (max-width: 40rem) and (orientation: portrait) {
  :host {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: calc(min(var(--block-height), 45vh) * 2);
  }

  :host([ui-view="full"]) {
    grid-template-rows: 0 1fr;

    & live-code-preview {
      height: calc(min(var(--block-height), 45vh) * 2)
    }
  }

  :host([ui-view="closed"]) {
    grid-template-rows: 1fr 0;
  }

  .editor-panel {
    border-right: 0;
    border-bottom: 1px solid var(--border-color, var(--foreground));
  }
}

.editor-panel {
  display: grid;
  grid-template-rows: var(--toolbar-height) 1fr;
  min-width: 0;
  border-right: 1px solid var(--border-color, var(--foreground));
  background-color: var(--background);
  overflow: hidden;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--border-color, var(--foreground));
}

.tabs {
  display: flex;
  gap: 1rem;
}

.tab,
.run {
  appearance: none;
  border: 0;
  font: inherit;
  cursor: pointer;
}

.tab {
  padding: 0.25rem;
  background: transparent;
  color: var(--gray);
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.tab[aria-selected="true"] {
  color: var(--accent);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.run {
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;

  display: grid;
  place-content: center;
  color: var(--foreground);

  &:is(:hover, :focus-visible) {
    animation: shake-custom-z 1s var(--ease-in-out-3);
  }
}

.play-pause {
  path {
    transition: d 160ms ease-out;
  }
}

.open-full:is(:hover, :focus-visible) {
  & svg circle {
    animation: var(--animation-shake-y);
  }
}

article-toast {
  --article-toast-top: 3.25rem;
}

.editor-wrap {
  min-height: 0;
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.scroll-container {
  position: relative;
  height: 100%;
}
