:where(main) {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  grid-gap: 4px;
}

.center {
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  outline: 1px dotted oklch(from CanvasText l c h / 0.2);
}
