:root {
  color-scheme: light dark;

  --red: light-dark(rgb(255, 56, 60), rgb(255, 66, 69));
  --orange: light-dark(rgb(255, 141, 40), rgb(255, 146, 48));
  --yellow: light-dark(rgb(255, 204, 0), rgb(255, 214, 0));
  --green: light-dark(rgb(52, 199, 89), rgb(48, 209, 88));
  --mint: light-dark(rgb(0, 200, 179), rgb(0, 218, 195));
  --teal: light-dark(rgb(0, 195, 208), rgb(0, 210, 224));
  --cyan: light-dark(rgb(0, 192, 232), rgb(60, 211, 254));
  --blue: light-dark(rgb(0, 136, 255), rgb(0, 145, 255));
  --indigo: light-dark(rgb(97, 85, 245), rgb(109, 124, 255));
  --purple: light-dark(rgb(203, 48, 224), rgb(219, 52, 242));
  --pink: light-dark(rgb(255, 45, 85), rgb(255, 55, 95));
  --brown: light-dark(rgb(172, 127, 94), rgb(183, 138, 102));

  --background: oklch(from Canvas l c h / 1);
  --foreground: oklch(from CanvasText l c h / 1);

  --accent: light-dark(#59B9C7, #8FD8E2);

  --gray: color-mix(in srgb, var(--background), var(--foreground) 50%);
  --darkgray: color-mix(in srgb, var(--background), var(--foreground) 10%);
  --lightgray: color-mix(in srgb, var(--background), var(--foreground) 60%);
}
