:host {
  display: block;
  /* border: 1px solid var(--border-color); */
  border-radius: var(--border-radius);
  /* border-radius: 1.25rem; */
  overflow: clip;
  background-color: var(--background);
  box-shadow: none;
  /* box-shadow: var(--card-shadow); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  border-radius: 1.25rem;
}

:host([open]) {
  @supports(corner-shape: squircle) {
    border-radius: 2.5rem;
    corner-shape: squircle;
  }
}

.opener {
  padding-inline: 0.5rem 1rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  opacity: 1;
  white-space: nowrap;

  & svg {
    color: var(--gray);
  }

  & svg line {
    transform-origin: 12px 12px;
    transform-box: view-box;
    /* transition: transform 0.2s var(--ease-out-2); */
  }

  &:is(:hover) svg .vertical {
    /* transform: scale(1, 0); */
    animation: toggle-height 0.3s var(--ease-out-2);
  }
}

.details {
  display: none;
  opacity: 0;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  min-height: 14rem;
}

:host([open]) .opener {
  display: none;
  opacity: 0;
}

:host([open]) .details {
  display: flex;
  opacity: 1;
  animation: show-ui 1s var(--ease-out-1);
}

:host(:not([open])) .opener {
  opacity: 1;
  animation: show-ui 1s var(--ease-out-1);
}

::slotted(p),
::slotted(article-code) {
  max-width: var(--card-content-max-width);
}

/* ::slotted(article-code) {
  border-radius: 0.25rem;
} */

/* ::slotted([data-flex="start"]) {
  margin-top: -1.5rem !important;
} */

@media (max-width: 35rem) {
  /* :host([open]) {
    margin-inline: -0.5rem !important;
  } */

  /* :host([open]) .details {
    padding-inline: 1.5rem;
  } */
}

@keyframes show-ui {
  0%, 60% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes toggle-height {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1, 0.5); }
}
