:host {
  width: 100%;
  /* border: 1px solid var(--border-color); */

  padding: 1rem;
  height: 34rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: var(--padding);

  --_background: light-dark(
    color-mix(in srgb, var(--accent), var(--background) 90%),
    color-mix(in srgb, var(--foreground), var(--background) 90%)
  );
  background-color: var(--_background);

  border-radius: 1rem;
  @supports(corner-shape: squircle) {
    border-radius: 2rem;
    corner-shape: squircle;
  }
}

@media (max-width: 40rem) {
  :host {
    height: 38rem;
  }
}

.detail {
  width: 100%;
  overflow: clip;

  h2 {
    color: var(--background);
    font-size: clamp(3.5rem, 10vw, 5rem);
    font-weight: 700;
    line-height: 1;
  }
}

.summary-container {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;

  width: min(
    calc(100% - 2rem),
    calc(var(--paragraph-max-width) - 2rem),
    30rem
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
}

.button-container {
  position: absolute;
  z-index: 9;
  top: 1rem;
  right: 1rem;
  height: 90%;
}

button {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: var(--background);
  border: 1px solid var(--red);
  color: var(--red);
  position: sticky;
  top: 1rem;
  opacity: 1;
  scale: 1;
  transition: scale 0.4s var(--ease-spring-1), opacity 0.25s var(--ease-1);
  background-color: color-mix(in srgb, var(--red), var(--background) 70%);
  /* box-shadow: 2px 2px 0 0 var(--red); */
  box-shadow: oklch(from var(--red) l c h / 0.2) 0px 2px 4px 0px;

  & .top-line,
  & .bottom-line {
    transform-origin: 12px 12px;
    transform-box: view-box;
  }

  &:hover:not(:disabled) .top-line {
    animation: top-rotate 0.3s var(--ease-out-1);
  }
  &:hover:not(:disabled) .bottom-line {
    animation: bottom-rotate 0.3s var(--ease-out-1);
  }

  &:disabled {
    opacity: 0;
    scale: 0;
  }
}

@keyframes top-rotate {
  0%,100% { transform: rotate(0deg); }
  50% { transform: rotate(-12deg); }
}

@keyframes bottom-rotate {
  0%,100% { transform: rotate(0deg); }
  50% { transform: rotate(12deg); }
}
