:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  width: 100%;
  max-width: 100%;
  min-width: 0;
  position: relative;
}

.slide-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  padding-inline: 1px;
  scroll-padding-inline: 1px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior-x: none;

  /* outline: 1px dotted hotpink; */
}

.bullets, .bullets > li {
  all: unset;
}

.bullets {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & button {
    width: 10px;
    height: 10px;
    border-radius: 100vh;
    background-color: var(--gray);
    transition: width 0.3s var(--ease-1);

    &[aria-current="true"] {
      width: 20px;
      background-color: var(--accent);
    }

    &:is(:hover,:focus-visible):not([aria-current="true"]) {
      animation: var(--animation-shake-y);
    }
  }
}

.scroll-button {
  position: absolute;
  z-index: 1;

  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: 1px solid oklch(from var(--text-color) l c h / 0.1);
  --_color: contrast-color(var(--bg));
  color: var(--_color, var(--text-color));
  border-color: oklch(from contrast-color(var(--active-slide-card-bg, var(--surface))) l c h / 0.2);
  background-color: oklch(from contrast-color(var(--active-slide-card-bg, var(--surface))) l c h / 0.1);

  opacity: 0;
  bottom: 2.75rem;
  right: 1rem;

  .top-arrow,
  .bottom-arrow {
    transform-box: view-box;
    transition: transform 0.3s var(--ease-out-1);
  }

  &[data-type="prev"] {
    right: 4.5rem;

    .top-arrow {
      transform-origin: 2px 12px;
    }
    .bottom-arrow {
      transform-origin: 2px 12px;
    }
  }

  &[data-type="next"] {
    .top-arrow {
      transform-origin: 22px 12px;
    }
    .bottom-arrow {
      transform-origin: 22px 12px;
    }
  }

  &:disabled {
    pointer-events: none;

    &[data-type="prev"] .top-arrow {
      transform: rotate(45deg);
    }
    &[data-type="prev"] .bottom-arrow {
      transform: rotate(-45deg);
    }

    &[data-type="next"] .top-arrow {
      transform: rotate(-45deg);
    }
    &[data-type="next"] .bottom-arrow {
      transform: rotate(45deg);
    }

    & svg {
      opacity: 0.2;
    }
  }

  &[data-type="prev"]:not(:disabled) {
    &:is(:hover) {
      .top-arrow {
        animation: arrow-plus-move 0.6s var(--ease-1);
      }
      .bottom-arrow {
        animation: arrow-minus-move 0.6s var(--ease-1);
      }
    }
  }
  &[data-type="next"]:not(:disabled) {
    &:is(:hover) {
      .top-arrow {
        animation: arrow-minus-move 0.6s var(--ease-1);
      }
      .bottom-arrow {
        animation: arrow-plus-move 0.6s var(--ease-1);
      }
    }
  }
}

:host(:hover) .scroll-button,
:host(:focus-visible) .scroll-button {
  opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
  .scroll-button {
    display: none;
  }
}

@keyframes arrow-plus-move {
  0%,100% { transform: rotate(0deg); }
  25%,50% { transform: rotate(15deg); }
  50% { transform: rotate(-5deg); }
}
@keyframes arrow-minus-move {
  0%,100% { transform: rotate(0deg); }
  25%,50% { transform: rotate(-15deg); }
  50% { transform: rotate(5deg); }
}
