:host {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;

  container-type: scroll-state;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  /* border: 1px solid var(--border-color);
  border-radius: var(--border-radius); */
}

:host([slide-type="article-toturial"]) {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.placeholder {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.slot-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

@media (max-width: 40rem) {
  :host([slide-type="article-toturial"]) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .placeholder {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .slot-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

::slotted(*) {
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;
}
