:host {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;

  container-type: scroll-state;
  scroll-snap-align: center;
  scroll-snap-stop: always;

  /* border: 1px solid var(--border-color);
  border-radius: var(--border-radius); */
}

::slotted(*) {
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;
}
