@import url(./assets/styles/utils.css);
@import url(./assets/styles/article.css);

body {
  padding: 0;
}

main {
  width: min(100%, 50rem);
  margin: 0 auto;
  padding-inline: 0.1rem;

  /* outline: 1px dotted hotpink; */
}