article {
  margin-block: 15vh;
  display:grid;
  gap:15vh;
}

header {
  padding-block-start: 15vh;
  padding-inline: 1rem;

  & h1 {
    margin: 0;
    font-size: clamp(2rem, 10vw, 4rem);
    font-weight: 400;
    font-variation-settings: "GRAD" -50;
  }
}

section {
  padding-inline: 1rem;
  max-width: 64ch;
  margin: 0 auto;
  display: grid;
  gap: 2rem;

  > * {
    margin: 0;
  }

  & h2 {
    font-size: clamp(1.2rem, 6vw, 3rem);
    font-weight: 400;
    font-variation-settings: "GRAD" -50;
  }

  p {
    font-size: 1.05rem;
  }

  code {
    display: inline-block;
    padding: 0 0.5rem;
    background-color: oklch(from var(--accent) l c h / 0.2);
    border-radius: 0.2rem;
    color: var(--accent);
  }
}
