article {
  margin-block: 20vh;
  display: grid;
  gap: 20vh;
}

section {
  width: 100%;
  max-width: 70ch;
  padding-inline: 1rem;
  margin: 0 auto;
  display: grid;
  gap: 2rem;

  > * {
    margin: 0;
  }

  & h2 {
    font-size: clamp(1.5rem, 6vw, 3rem);
  }

  p {
    font-size: 1.05rem;
    color: oklch(from CanvasText l c h / 0.8);
  }

  a {
    color: var(--accent);
  }

  [data-flex] {
    display: flex;
    gap: 1rem;
  }
  
  [data-flex="start"] {
    justify-content: flex-start;
    align-items: center;
  }
}