:root {
  color-scheme: dark;

  --red: rgb(255,56,60);
  --orange: rgb(255,141,40);
  --yellow: rgb(255,204,0);
  --green: rgb(52,199,89);
  --mint: rgb(0,200,179);
  --teal: rgb(0,195,208);
  --cyan: rgb(0,192,232);
  --blue: rgb(0,136,255);
  --indigo: rgb(97,85,245);
  --purple: rgb(203,48,224);
  --pink: rgb(255,45,85);
  --brown: rgb(172,127,94);

  --surface: Canvas;
  --text-color: CanvasText;
  --accent: light-dark(var(--pink), var(--blue));

  --gray: color-mix(in oklab, Canvas 50%, white 50%);
  --darkgray: oklch(from CanvasText l c h / 0.10);
  --bg-gray: oklch(from CanvasText l c h / 0.05);
  --toast-bg: color-mix(in oklab, Canvas, white 10%);

  /* --surface: #1F150C;
  --text-color: #E1DCC9;
  --accent: #306D29;

  --gray: #412D15;
  --darkgray: oklch(from CanvasText l c h / 0.15);
  --bg-gray: oklch(from CanvasText l c h / 0.05);
  --toast-bg: color-mix(in oklab, Canvas, CanvasText 10%); */


  /* --surface: light-dark(#222, #111);
  --bg-gray: light-dark(#181818, #181818);
  --text-color: light-dark(#fff, #eee);
  --accent: var(--blue);

  --gray: light-dark(#888, #666);
  --toast-bg: rgb(75,75,75);
  --darkgray: light-dark(#444, #333); */
}
