.detail-group,
detail-group {
  display: grid;
  gap: 0;
}

details {
  interpolate-size: allow-keywords;
  width: 100%;
  overflow: clip;

  border-inline: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);

  &:first-of-type {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  &:last-of-type {
    border-bottom: 1px solid var(--border-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  :is(p) {
    margin: 0;
  }

  summary {
    padding-block: 0.75rem;
    padding-inline: 1.5rem 1rem;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--paragraph-font-size);

    &::marker {
      display: none;
    }

    &::after {
      content: "";
      width: 1.5rem;
      height: 2.5rem;
      background-color: var(--gray);
      mask-image: url(../../assets/baseline/arrow.svg);
      mask-size: 1.2rem;
      mask-repeat: no-repeat;
      mask-position: center;
      transform: rotate(-90deg);

      transition: transform 0.3s var(--ease-sine-out);
    }

  }

  &::details-content {
    padding: 0;
    height: 0;
    overflow: clip;
    box-sizing: border-box;
    background-color: var(--darkgray);

    transition:
      all 0.3s var(--ease-sine-out),
      border 0s linear 0.3s;
    transition-behavior: allow-discrete;
  }

  &[open] {
    summary::after {
      transform: rotate(0deg);
    }

    &::details-content {
      height: auto;
      border-top: 1px solid var(--border-color);

      transition:
        all 0.3s var(--ease-sine-out),
        border 0s;

      @starting-style {
        height: 0;
      }
    }
  }

  &[data-closing] {
    summary::after {
      transform: rotate(-90deg);
    }

    &::details-content {
      padding: 0;
      height: 0;
      border-top-color: transparent;

      transition:
        all 0.3s var(--ease-sine-out),
        border 0s linear 0.3s;
    }
  }
}

.details {
  max-width: var(--paragraph-max-width);
  margin-left: auto;
  padding: var(--padding);

  display: grid;
  gap: 1.5rem;
  justify-items: flex-start;
}
