section,
article-slide-item {
  code {
    display: inline;
    font-family: "Google Sans Code", monospace;
    padding: 0 0.5rem;
    background-color: oklch(from CanvasText l c h / 0.1);
    border-radius: 0.3rem;
    color: var(--accent);
  }
}

.mt {
  margin-block-start: 1rem;
}

.card {
  height: 30rem;
  display: grid;
  place-content: center;
  position: relative;
  overflow: clip;
  padding: var(--padding);

  border: 1px solid var(--bg, var(--border-color));
  border-radius: 0.2rem;

  background-color: oklch(from var(--bg) l c h / 0.8);
  &,& *:not(goto-slide) {
    color: contrast-color(var(--bg));
  }

  & * {
    max-width: 48ch;
  }

  h2 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    line-height: 1.3;
  }

  h3 {
    font-size: 1.25rem;
    margin-block-end: -1.25rem;
  }

  p {
    margin-block: 1.5rem;

    &[data-my-2] {
      margin-block: 2rem;
    }
  }

  a {
    color: var(--accent);
  }

  article-code {
    margin-block: 1rem;
  }

  code {
    color: var(--accent);
  }

  [data-text-center] {
    text-align: center;
  }

  &[data-about]::before {
    content: attr(data-about);
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    opacity: 0.15;
    font-size: clamp(5rem, 15vw, 8rem);
    font-weight: 700;
    line-height: 1;
    pointer-events: none;
  } 
}

.card-start {
  place-content: center start;
}

.cover-one {
  place-self: stretch;
  align-self: stretch;
  padding-block-start: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  h2 {
    margin-block: 2rem;
  }
}

.card-two_box {
  height: 30rem;
  padding: 0;

  display: flex;

  :is(.box-start, .box-end) {
    flex: 1;
    padding: var(--padding);
    position: relative;
    z-index: 1;
  }

  :is(.box-end) {
    display: grid;
    place-content: center;
  }
}

@media (max-width: 40rem) and (orientation: portrait) {
  .card {
    .maxh-8 {
      max-height: 8rem;
    }
  }
  .card-two_box {
    flex-direction: column-reverse;
    height: 40rem;

    :is(.box-end) {
      padding-bottom: 0;
    }

    &[data-about]::before {
      right: initial;
      left: 1.5rem;
    }
  }
}

@media (min-width: 40rem) {
  .card-two_box {
    :is(.box-start) {
      padding-right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
