/* @import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,slnt,wdth,wght,GRAD,ROND@6..144,-10..0,25..151,1..1000,0..100,0..100&display=swap');
@import "open-props/style";
@import url(./reset.css);
@import url(./colors.css);

:root {
  color-scheme: dark;
  --accent: light-dark(deeppink, var(--blue));
  --border-color: oklch(from CanvasText l c h / 0.4);
  --padding: clamp(1.5rem, 4vw, 4rem);
}

:where(html, body) {
  margin: 0;
  padding: 0;
  background: Canvas;
  color: color-mix(in oklab, CanvasText, Canvas 10%);

  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

:where(h1,h2,h3,h4,h5,h6) {
  margin: 0;
  color: oklch(from CanvasText l c h / 0.9);
  font-variation-settings:
    "slnt" 0,
    "wdth" 103,
    "GRAD" 0,
    "ROND" 0;
}

:where(h1,h2) {
  font-weight: 400;
}

:where(h3,h4,h5,h6) {
  font-weight: 480;
}

:where([screenreader-only]) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

a {
  color: var(--accent);
}

a[href^="http"] {
  text-decoration: none;
  background-image: linear-gradient(var(--accent), var(--accent));
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: calc(100% - 5px) 1px;

  &:is(:hover) {
    --link-line-offset: translate(-8px, 7px);
    --link-arrow-offset: translate(-8px, 7px);
  }
}


@keyframes shake-custom-z {
  0%, 100% { transform: rotate(0deg) }
  20% { transform: rotate(-10deg) }
  40% { transform: rotate(10deg) }
  60% { transform: rotate(-10deg) }
  80% { transform: rotate(10deg) }
}

@keyframes shake-xy {
  0%, 100% { transform: translate(0%, 0%) }
  20% { transform: translate(-2%, 2%) }
  40% { transform: translate(2%, -2%) }
  60% { transform: translate(-2%, 2%) }
  80% { transform: translate(2%, -2%) }
}

@keyframes shake-yx {
  0%, 100% { transform: translate(0%, 0%) }
  20% { transform: translate(2%, -2%) }
  40% { transform: translate(-2%, 2%) }
  60% { transform: translate(2%, -2%) }
  80% { transform: translate(-2%, 2%) }
}
