/* @import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,slnt,wdth,wght,GRAD,ROND@6..144,-10..0,25..151,1..1000,0..100,0..100&display=swap');
@import "open-props/style";
@import url(./reset.css);
@import url(./colors.css);

:root {
  --padding: clamp(1.5rem, 4vw, 4rem);
  --border-color: var(--gray);
  --border-radius: 2px;
  --header-font-size: clamp(2rem, 6vw, 2.5rem);
  --paragraph-font-size: 1rem;
  --paragraph-max-width: 42rem;

  --card-content-max-width: 36rem;
  --card-shadow: 2px 2px 0 0 var(--gray);

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:where(html, body) {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);

  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

:where(body) {
  background-color: transparent;
}

:where(body)::before {
  content: '';
  display: block;
  position: fixed;
  inset: 0;
  z-index: -1;

  /* background-image:
    linear-gradient(var(--background) 1px, transparent 1px),
    linear-gradient(to right, var(--background) 1px, var(--background) 1px);
  background-size: 40px 40px; */
}

:where(h1,h2,h3,h4,h5,h6) {
  margin: 0;
  color: var(--foreground);
  font-variation-settings:
    "slnt" 0,
    "wdth" 103,
    "GRAD" 0,
    "ROND" 0;
}

:where(h1) {
  font-weight: 380;
}

:where(h2,h3,h4,h5,h6) {
  font-weight: 420;
}

:where(p) {
  /* text-align: justify; */
  overflow-wrap: break-word;
  word-break: normal;
  hyphens: auto;
}

:where([screenreader-only]) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

a {
  color: var(--accent);
}

a[href^="http"] {
  text-decoration: none;
  background-image: linear-gradient(var(--accent), var(--accent));
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: calc(100% - 5px) 1px;

  &:is(:hover) {
    --link-line-offset: translate(-8px, 7px);
    --link-arrow-offset: translate(-8px, 7px);
  }
}


@keyframes shake-custom-z {
  0%, 100% { transform: rotate(0deg) }
  20% { transform: rotate(-10deg) }
  40% { transform: rotate(10deg) }
  60% { transform: rotate(-10deg) }
  80% { transform: rotate(10deg) }
}

@keyframes shake-xy {
  0%, 100% { transform: translate(0%, 0%) }
  20% { transform: translate(-2%, 2%) }
  40% { transform: translate(2%, -2%) }
  60% { transform: translate(-2%, 2%) }
  80% { transform: translate(2%, -2%) }
}

@keyframes shake-yx {
  0%, 100% { transform: translate(0%, 0%) }
  20% { transform: translate(2%, -2%) }
  40% { transform: translate(-2%, 2%) }
  60% { transform: translate(2%, -2%) }
  80% { transform: translate(-2%, 2%) }
}
